<!DOCTYPE html>
<html>
    <head>
        <title>just pracice</title>
        <link rel="stylesheet" href="BMDB/bootstrap/b.css">
        <link rel="stylesheet" href="BMDB/bootstrap/b.js">
        <link rel="stylesheet" href="BMDB/bootstrap/mdb.css">
        <link rel="stylesheet" href="BMDB/bootstrap/mdb.js">
        <style>
            body
            {
                background-color: rgb(61, 54, 61);
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark text-white navbar-expand-sm">
         <a href="abc"class='navbar-brand'>love</a>
        </nav>
         <div class="container mt-5">
            <div class="anu text-center text-white">
                <h6>hi am eoerfmg knrglrgn krlgnrlkg nrkrgnregklr nrekl gnrgkrnglkrngk r kgnmrekl rm
                    hi am eoerfmg knrglrgn krlgnrlkg nrkrgnregklr nrekl gnrgkrnglkrngk r kgnmrekl rm
                    hi am eoerfmg knrglrgn krlgnrlkg nrkrgnregklr nrekl gnrgkrnglkrngk r kgnmrekl rm
                    hi am eoerfmg knrglrgn krlgnrlkg nrkrgnregklr nrekl gnrgkrnglkrngk r kgnmrekl rm
                    hi am eoerfmg knrglrgn krlgnrlkg nrkrgnregklr nrekl gnrgkrnglkrngk r kgnmrekl rm
                    hi am eoerfmg knrglrgn krlgnrlkg nrkrgnregklr nrekl gnrgkrnglkrngk r kgnmrekl rm
                    hi am eoerfmg knrglrgn krlgnrlkg nrkrgnregklr nrekl gnrgkrnglkrngk r kgnmrekl rm
                </h6>
              </div>
         </div>
        <div class="buttons text-center mt-3">
        <button class="btn btn-outline-white">register</button>

        </div>
    </body>
</html>