<!DOCTYPE html>
<html>
  <head>
      <title>express js file</title>
      <link rel="stylesheet" href="MDB/css/bootstarp.css">
      <link rel="stylesheet" href="MDB/css/mdb.css">

  </head>  

  <body>
     <div class="container mt-5">
         <div class="row">
             <div class="col-md-5">
                <div class=" text-dark bg-secondary justify-content-center">
                    <p>hi everydsuh aerfh hfirfi gi gri nirenfreifnrifnr
                        sdfmoffm erfmreo gregm gmre mrgmrkfmrm keff ff
                         gkmofmmrmrelgmrgmr mremre gm rmgrgmrgkmre ktmg
                         everydsuh aerfh hfirfi gi gri nirenfreifnrifnr 
                        sdfmoffm erfmreo gregm gmre mrgmrkfmrm keff  ff
                         gkmofmmrmrelgmrgmr mremre gm rmgrgmrgkmre ktmg
                         everydsuh aerfh hfirfi gi gri nirenfreifnrifnr 
                         gkmofmmrmrelgmrgmr mremre gm rmgrgmrgkmre ktmg
                         everydsuh aerfh hfirfi gi gri nirenfreifnrifnr 
                       
                    </p>
                    <button class="btn btn-primary">click here</button>
                </div>
             </div>
         </div>
     </div>
  </body>
</html>