<html>
    <head>
        <title>HOME PAGE</title>
  
    <style>
    body
     {
        font-family:sans-serif;
        background-color:cyan;
        font-size: 40px;
        text-align: center;
     }

    </style>
    </head>
    <body>
        <nav>
            <a href="/">home</a>
            <a href="/news">news</a>
            <a href="/gallery">gallery</a>
            <a href="/contact">contact us</a>
        </nav>
        <h1>expressJs website</h1>
        <p>raja is a good boy.. raja is a good boy..  raja is a good boy..  raja is a good boy..  
            raja is a good boy..  raja is a good boy..  raja is a good boy..  raja is a good boy..  
            raja is a good boy..  raja is a good boy..  raja is a good boy..  raja is a good boy..   
        </p>
    </body>
</html>