<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


     <!--bs and mdb config..................................... -->
    <link rel="stylesheet" href="../BMDB/b.css">
    <link rel="stylesheet" href="../BMDB/b.js">
    <link rel="stylesheet" href="../BMDB/mdb.css">
    <link rel="stylesheet" href="../BMDB/mdb.js">
    <link rel="stylesheet" href="../BMDB/fonts.css">

    <!-- style tag config................................................... -->
    <link rel="stylesheet" href="../Styles/Style.css">

    
</head>
<body>
   <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
    <a href="abc"class="navbar-brand">rajasekhar</a>
 
    <div class="container">

        <div class="collapse navbar-collapse h5">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-2">
                    <a href="/product" class="nav-link text-white">product</a>
                </li>

                <li class="nav-item mx-2">
                    <a href="/details"class="nav-link text-white">details</a>
                </li>

                <li class="nav-item mx-2">
                    <a href="/contact"class="nav-link text-white">contact</a>
                </li>

                <li class="nav-item mx-2">
                    <a href="/about"class="nav-link text-white">about</a>
                </li>
            </ul>
        </div>
    </div>
   </nav>

    <div class="landing-page">
        <div class="wrapper">
           <div class="col-md-5 ml-auto">
            <div class="page">
                <h1>rajasekhar page</h1>
                <p class="h2 text-success">raja world :</p>
                <p class="lead text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus soluta debitis, magni dolores corporis blanditiis obcaecati provident reprehenderit cupiditate esse. Natus veritatis laudantium quod sapiente porro ea voluptates nisi asperiores excepturi eos dolorem cupiditate unde est facere ad suscipit alias iure, voluptatem iusto? Eum iste praesentium doloribus rerum, ratione voluptatibus aliquam perferendis aut mollitia. Nobis, magnam! Numquam nisi deserunt provident temporibus perferendis corrupti possimus dolorem natus obcaecati fugiat? Iusto maxime architecto id vitae consequatur aut, voluptatibus error eveniet eum tempora dolorum est esse sequi quo. Expedita, assumenda,
                     porro fugit earum ullam tempora libero nobis perspiciatis dolore laboriosam consequatur illo dignissimos.</p>
            </div>
           </div>
        </div>
    </div>
    
</body>
</html>