*{
    font-family: "comic sans MS",sans-serif;
}


.btn{
    background:linear-gradient(45deg, violet,orange);
}
div.card-header
{
    background:linear-gradient(45deg, rgb(30, 12, 30),orange);
}
.table tbody th td{
    font-weight: bold;
}

