*{
    font-family: "comic sans MS",sans-serif;
}
/* body{
    background: url('https://images.unsplash.com/photo-1482361046637-0226fdcfa3b7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bGFkeXxlbnwwfHwwfHw%3D&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
}
.wrapper{
    background: rgba(0, 0, 0,0.2);
    height: 100vh;
}

.product-page{
   background-image:url('../img/lady.jpeg');
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   width: auto;

}

.details-page{
    background-image:url('../img/wallpapersden.com_robot-woman-cyberpunk_4327x2340.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
 
 }

 .contact-page{
    background-image:url('../img/78814-Titanfall-robot.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
 
 }

 .about-page{
    background-image:url('../img/desktop-1920x1080.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
 
 } */