<html>
    <head>
        <title>Services Tab</title>
        <style>
            body
            {
                margin: 0px;
            }
            nav
            {
                background-color: black;
                padding: 10px;
            }
            nav a
            {
                color: white;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/services">Services</a>
        </nav>
        <div>
            <h2>Welcome to Services Page</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nihil, quasi quisquam ad culpa impedit eius odio nesciunt quam voluptatibus nemo repellendus. Provident amet cum blanditiis, qui, repudiandae, aperiam unde accusantium in nemo ipsa enim beatae? Hic quia dicta quos officia, ea molestiae quaerat illo illum eveniet error repudiandae quibusdam?</p>
        </div>
    </body>
</html>