<!DOCTYPE html>
<html>
  <head>
    <title>express js file</title>
    <!-- <link rel="stylesheet" href="MDB/css/bootstarp.css">
    <link rel="stylesheet" href="MDB/css/mdb.css"> -->

    <link rel="stylesheet" href="BMDB/bootstrap/b.css">
    <link rel="stylesheet" href="BMDB/bootstrap/b.js">
    <link rel="stylesheet" href="BMDB/bootstrap/mdb.css">
    <link rel="stylesheet" href="BMDB/bootstrap/mdb.js">
    <link rel="stylesheet" href="view/style.css">
    <!-- <link rel="stylesheet" href="MDB/css/mdb.css"> -->
     <style>
      
      /* section{
         /* background: rgba(0,0,0,.5); */
        /* background: url(../BMDB/assets/suresh1.png); */
        /* background-size: 75% fluid; */
        /* background-size: cover; */ 
       
        /* background-repeat: no-repeat; */
        /* background-position: right; */ 
      
        */
     </style>
</head>  

<body>
      <nav class="navbar navbar-primary bg-dark progress-bar-striped progress-bar-animated navbar-expand-sm">
          <a href="abc"class="navbar-brand">suresh</a>

          
          <ul class="nav collapse navbar-collapse text-white">
         
              <li class="nav-item  ml-auto">
                <a class="nav-link text-danger" href="/">home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white justify-content-center" href="/gallery">gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-success" href="/about">about</a>
              </li>
             
            </ul> 
              </nav>
   
  <!-- content -->
 
  <section class="">
      <div class="container-fluid">
       
              <div class="col-md-6 right float-">
                  <h4 class="display-2 text-primary">
                      Welcome To Express Bootstrap
                  </h4>
                  <p class="lead text-light">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur, quas nam autem corporis expedita deleniti et, molestiae laborum labore est repudiandae quis maxime nihil, aliquam quae molestias repellat minus. Quo maiores minima pariatur enim ab vel nobis quae tempora molestias.</p>
                  <p class="lead text-light">Lorem ip Nam minima sit neque nobis!</p>
              </div>
              </div>
              <div class="col-md-4 ml-auto">
                <img src="../BMDB/assets/suresh1.png" alt=""class="image-fluid">
                 
               </div>
          </div>
      </div>
  </section>

</body>
</html>
